name: Quality pipeline

on:
  pull_request:
    branches:
      - main

jobs:
  quality_pipeline_lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

  quality_pipeline_nodejs:
    runs-on: ubuntu-20.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test:nodejs

      - name: Report coverage
        uses: codecov/codecov-action@v3

  quality_pipeline_chromium:
    runs-on: ubuntu-20.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci && npx playwright install

      - name: Test
        run: npm run test:chromium

      - name: Report coverage
        uses: codecov/codecov-action@v3

      - name: Archive logs
        uses: actions/upload-artifact@v3
        with:
          name: chromium-logs
          path: reports/logs/chromium-112.0.5615.29.log

  quality_pipeline_firefox:
    runs-on: ubuntu-20.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci && npx playwright install

      - name: Test
        run: npm run test:firefox

      - name: Report coverage
        uses: codecov/codecov-action@v3

  quality_pipeline_webkit:
    runs-on: ubuntu-20.04
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install
        run: npm ci && npx playwright install

      - name: Test
        run: npm run test:webkit

      - name: Report coverage
        uses: codecov/codecov-action@v3
