name: Quality pipeline

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 */6 * * *"

jobs:
  quality_pipeline:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS 18
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install
        run: nvm use && npm ci

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Report coverage
        run: bash <(curl -s https://codecov.io/bash)
