name: Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.OO_CI_AT }}

      - name: Setup NodeJS 14
        uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: "https://registry.npmjs.org"

      # Prepare
      - name: Install NPM
        run: npm install

      - name: Build
        run: npm run build -- --cdn

      # Publish to NPM
      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: npm publish

      # Trigger deploy to CDN
      - name: Obtain release version
        run: echo "RELEASE_VERSION=$(cat package.json | jq -r '.version')" >> $GITHUB_ENV
      - name: Tirgger deploy to CDN
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Deploy to CDN
          token: ${{ secrets.OO_CI_AT }}
          inputs: '{ "version": "${{ env.RELEASE_VERSION }}" }'
