name: Trigger release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version bump kind"
        required: true
        type: choice
        options: ["patch", "minor", "major"]

jobs:
  prepare-verify-trigger:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.OO_CI_AT }}

      - name: Setup NodeJS 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      # Bump / tag version
      - name: Bump to target version, if any
        run: |
          git config user.name "automation"
          npm version ${{ github.event.inputs.version }}
